body {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('./assets/images/mobile_main.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
}

@media screen and (max-width: 960px){
  body {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('./assets/images/mobile_main.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
  }
}

body:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #0A0A0A;
  opacity: .7;
  z-index: -1;
  width: 100%;
  height: 100%;
}
